@font-face {
    font-family: 'Harabara';
    font-style: normal;
    font-weight: 400;
    src: url('https://gitlab.com/nothingnowhere/break-stuff/raw/master/Harabara.woff2?inline=false')
        format('woff2');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url('https://gitlab.com/nothingnowhere/break-stuff/raw/master/Avenir-Medium.woff2?inline=false')
        format('woff2');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 400;
    src: url('https://gitlab.com/nothingnowhere/break-stuff/raw/master/Avenir-BookOblique.woff2?inline=false')
        format('woff2');
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: bold;
    src: url('https://gitlab.com/nothingnowhere/break-stuff/raw/master/Avenir-Black.woff2?inline=false')
        format('woff2');
}
